---
import { Image } from 'astro:assets';
const { title, description, href, imageSrc, imageAlt } = Astro.props;
---

<a href={href} class="image-card">
  <div class="image-card-image">
    <Image src={imageSrc} alt={imageAlt} width="100" height="100" />
  </div>
  <h3>{title}</h3>
  <p>{description}</p>
</a>

<style>
  .image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: var(--sl-color-gray-0); /* Fondo más claro en tema claro */
    transition: transform 0.2s;
    border: 1px solid var(--sl-color-gray-4); /* Borde claro */
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0;
  }
  .image-card:hover {
    transform: translateY(-5px);
    background-color: var(--sl-color-blue-2); /* Hover en modo claro */
  }
  .theme-dark .image-card {
    background-color: var(--sl-color-gray-9); /* Fondo oscuro */
    border-color: var(--sl-color-gray-7); /* Borde oscuro */
  }
  .theme-dark .image-card:hover {
    background-color: var(--sl-color-blue-7); /* Hover en modo oscuro */
  }
  .image-card-image {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .image-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  .image-card:hover .image-card-image img {
    transform: scale(1.1); /* Escala al 110% */
  }
  h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    color: var(--sl-color-green-7); /* Texto principal */
  }
  p {
    margin: 0;
    color: var(--sl-color-gray-8); /* Texto secundario más oscuro en tema claro */
  }
  .theme-dark h3 {
    color: var(--sl-color-green-4); /* Texto principal en modo oscuro */
  }
  .theme-dark p {
    color: var(--sl-color-gray-1); /* Texto secundario más claro en modo oscuro */
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>